*{
    margin: 0px;
    padding: 0px;

}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 20px;
    
}
.logo{
   align-items: center;
}
.menus ul{
    list-style: none;
    display: flex;
    font-size: 25px;

    
}
.menus li a{
    text-decoration: none;
    padding: 20px;
    color: white;
    border-radius: 10px;

    
    
}
.banner-container{
    height: 100vh;
    background-image: url("../asset/image/background.jpg");
}

